footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;
    color: #ffffff;
    margin: 0 !important;
    width: 100%;
}