@supports (display: grid) {
    .grid {
        display: grid;
    }
}

.grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  /*свойство для колонок*/
  /*grid-template-columns: 21% 58% 21% ;*/

  grid-template-columns:  2fr 5fr 2fr;
}

.grid_item1 {
    display: grid;
    grid-template-columns:  1fr 1fr 5fr;
}

.grid_item1 button {
    grid-area: 2/2;
}

.grid_item3 {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}

.grid_item3 button {
    grid-area: 2/2;
}

.grid_item1 button, .grid_item3 button {
    border: none;
}