.header {
    width: 100%;
    height: 150px;
    color: white;
}

.header .top {
    display: table-row;
    height: 39px;
    background-color: #ed6b45;
    justify-content: space-between;
    padding: 20px;
    color: #f7ceb7;
    font-size: 0.7em;
}

.header .top .container {
    padding: 12px 0;
}

.header .top .left {
    display: table-column;
    float: left;
    height: 100%;
    margin-left: 5px;
}

.header .top .left a {
    margin-left: 5px;
}

.header .top .right {
    display: table-column;
    float: right;
    text-align: right;
    height: 100%;
    margin-right: 5px;
}

.header .top .right {
    display: table-row;
}


.header .top .right li {
    display: inline-block;
    margin-left: 24px;
    list-style: disc outside none !important;
}

.header .middle {
    height: 111px;
}

.header .middle .container {
    padding: 29px 0;
}

.header .middle .logo {
    float: left;
    height: 50px;
    width: 55%;
    background: url("../static/pic/logo.png") no-repeat;
    margin-left: 7px;
}

.header .middle .date {
    display: inline-block;
    float: right;
    padding: 16px 8px;
    font-size: 1.15em;
}