.main {
    position: relative;
    display: table;  
    color: black;
}

.main .btn {
    width: 52%;
    background: transparent url(../static/pic/button_back.png) no-repeat;
    height: 36px;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 1.35em;
    margin-top: 23px;
    padding: 5px;
    text-align: center;
}

.main .featured_area {
    display: table-row;
    height: 402px;
    background: url("../static/pic/stroke.png") 50% -0.3% no-repeat, url("../static/pic/rocket.png") 97% 115% no-repeat, url("../static/pic/Box-bg.png") no-repeat;
    padding: 20px;
}

.main .featured_area .content_area {
    padding: 78px 7%;
    height: 100%;
    width: 54.912387%;
}

.main .featured_area .content_area h2 {
    display: inline-block;
    font-size: 0.7em;
    width: 65%;
    padding-left: 5px;
}

.main .featured_area .content_area .separate_top {
    display: inline-block;
    height: 7px;
    width: 30%;
    background: url(../static/pic/Separator1.png) repeat-x;
    background-size: contain;
}
    

.main .featured_area .content_area h1 {
    font-size: 6.2em;
    padding: 0;
    line-height: 1.1em;
    color: #de5d37;
}

.main .featured_area .content_area .separate_bottom {
    display: block;
    height: 7px;
    width: 96%;
    background: url("../static/pic/Separator.png") repeat-x;
    background-size: contain;
    margin: 0 5px 14px;
}
    
.main .featured_area .content_area .text_block {
    font-size: 0.7em;
    letter-spacing: 0.67px;
    line-height: 1.7em;
    width: 94%;
    margin-left: 5px;
}

.main .featured_area .content_area .btn {
    background: url("../static/pic/stars.png") 50% no-repeat, url("../static/pic/button_back.png") no-repeat;
}

.main .btn {
    width: 52%;
    background: transparent url("../static/pic/button_back.png") no-repeat;
    height: 36px;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 1.35em;
    margin-top: 23px;
    padding: 5px;
}

.main .slide_bar {
    padding: 10px;
    height: 800px;
    margin-top: 50px;
}

.main .slide_bar h1 {
    font-family: Lobster;
    color: #de5d37;
}

.main .slide_bar .content_area,
.main .slide_bar .sidebar {
    display: inline-block;
}

.main .slide_bar .content_area {
    width: 65%;
    height: 1000px;
    background: url("../static/pic/content_bg.png") no-repeat;
    float: left;
}

.main .slide_bar .sidebar {
    width: 35%;
    height: 100%;
    float: right;
    background-color: #f9f9f0;
}