html, body {
    font: normal 83% Arial, Calibri, Candara, sans-serif;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: #d6d1c7;
    background: url("../static/pic/bg.jpg");
    background-repeat: repeat;
    margin: 0;
}

font {
    line-height: 1.75em;
}

a:hover {
    cursor: hand;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: middle;
}

td {
    display: table-cell;
    vertical-align: middle;
}

.top, .top a {
    color: #f5bfa5;
}